{% include 'header.twig' %}
{% include 'sidebar.twig' %}
<div id="wrapper">
    <section id="doodle" class="wrapper style1 fade-up">
        <div class="inner">
            <h1>Retros</h1>
            <h2>{{ Name }}</h2>
            <p>{{ Description }}</p>
        </div>
    </section>
</div>

{% include 'footer.twig' %}
