<section id="sidebar">
    <div class="inner">
        <nav>
            <ul>
                <li><a href="{{ path_for('homepage') }}#welcome">Welcome</a></li>
                <li><a href="{{ path_for('homepage') }}#doodle" >Doodle</a></li>
                <li><a href="{{ path_for('homepage') }}#retros" >Retros</a></li>
                <li><a href="{{ path_for('homepage') }}#team" >Teams</a></li>
            </ul>
        </nav>
    </div>
</section>
